@using FreeStuff4.Data
@model IndexViewModel


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @foreach (PostViewModel p in Model.Posts)
        {
            <div class="well" style="margin-top: 40px;">
                @if (p.Post.Name == null)
                {
                    <h5>Name Withheld</h5>
                }
                else
                {
                    <h5>Name: @p.Post.Name</h5>
                }
                <h5>Posted on @p.Post.DateCreated.ToLongDateString() at @p.Post.DateCreated.ToShortTimeString()</h5>
                <h5>Phone Number: @p.Post.PhoneNumber</h5>
                <h4>Details:</h4>
                <p>@p.Post.Text</p>

                @if (p.CanDelete)
                {
                    <form method="post" action="/Home/DeletePost">
                        <input type="hidden" name="id" value="@p.Post.Id" />
                        <button class="btn btn-danger">Delete!</button>
                    </form>

                }
            </div>
        }
    </div>
</div>
